* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu' sans-serif;
}

:root {
    --bg-color: #8B7E74;
    --text-color: #000000;
}

body {
    background: linear-gradient(180deg, #8B7E74 0%, #C7BCA1 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hide {
    display: none;
}

.container {
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    color: var(--text-color);
    border-radius: 1rem;
}

.formulario h3 {
    margin-bottom: 1rem;
}

.formulario-input-container {
    display: flex;
}

.formulario input {
    padding: .8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

.formulario button {
    padding: .8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #C7BCA1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#weather-data {
    border-top: 1px solid #FFFFFF;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

#weather-data h2 i {
    font-size: 1rem;
}

#weather-data span {
    margin: .6rem;
}

#pais {
    height: 15px;
}

#descricao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .6rem 0;
}

#detalhes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#detalhes-container #umidade {
    border-right: 1px solid #FFFFFF;
    margin: .6rem;
    padding: .6rem;
}

